<div class="footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
            <span>© 2023 <a href="https://www.pabolo.ai">pabolo</a>. All rights reserved.</span>
            <br/>
            <span>You are receiving this email following the submission of the e-mail address in an pabolo account. You may view and modify your personal data stored by us and change your e-mail preferences at any time <a href="https://www.pabolo.ai">by logging in to your account</a>.</span>
        </td>
      </tr>
      <tr>
        <td class="content-block powered-by">
            <span><a href="https://www.pabolo.ai">pabolo GmbH</a>, Albert-Nestler-Str. 10, 76131 Karlsruhe, Germany</span>
            <br/>
            <span>Represented by the managing director Thomas Willberger</span>
            <br/>
            <span>Amtsgericht Mannheim, HRB 745788, VAT ID DE358010764</span>
        </td>
      </tr>
    </table>
  </div>